@import '../../vendor/variables.scss';

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    z-index: 10;
    background-color: $main-color;
    padding: 2rem 2rem 1rem;

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logowrapper {
            width: 40px;
            margin: -4px 0 0 -4px;
            padding: 4px;
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: white;
        }

        .close {
            font-weight: 500;
            font-size: 2rem;
            margin: -4px -4px 0 0;
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        .heading {
            width: 100%;
            color: rgba(white, .75);
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba($gray-color, .3);
            cursor: pointer;
            
            &:hover {
                color: white;
            }
        }

        .topics {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .topic {
                width: 100%;
                display: flex;
                align-items: center;
                
                justify-content: flex-start;
                cursor: pointer;
                padding: 1rem .5rem;
                border-radius: .5rem;

                &:hover {
                    background-color: rgba(white, .3);
                }

                .name {
                    color: white;
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                }

            }

            .blockedTopic {
                opacity: .5;
                cursor: default;
                &:hover {
                    background-color: transparent;
                }

            }
        }
    }
}