@import '../../vendor/variables.scss';
@import '../../vendor/mixins.scss';

.WSImage {
    display: flex;
    margin: 0;
    padding: 0;
}

.caption {
    @include textFormat(14px, 0, rgba($main-color, .5));
    margin-top: .25rem;
}

.clickable {
    cursor: pointer;
}

.placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    justify-content: center;
    background-color: rgba($gray-color, .5);
    border-radius: 1rem;

    .loadingSpinner {
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid $secondary-color;
        border-radius: 50%;
        opacity: 1;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
      
}