@import '../../vendor/variables.scss';
@import '../../vendor/mixins.scss';

.content {
    width: 700px;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    .paragraph {
        width: 700px;
    }
}

.markdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1, h2, h3, h4, h5, h6 {
        color: $main-color;
        width: 100%;
    }
    
    h1 {
        @include textFormat(3rem, 0 0 2rem, $main-color);
    }

    ul, ol {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    
    li {
        @include textFormat(1rem, 0, $main-color);
        width: calc(100% - 2.5rem);
        line-height: 1.5rem
    }

    table {
        max-width: 700px;
        width: 700px;
        margin-bottom: 1rem;
    }

    td {
        border: 1px solid $gray-color;
        padding: .25rem;
        text-align: left;
        @include textFormat($regular-size-desktop, 0);
    }

    th {
        border: 1px solid $gray-color;
        padding: .25rem;
        text-align: left;
        @include textFormat($regular-size-desktop, 0);
    }
    
    h2 {
        @include textFormat(1.5rem, 0 0 1rem, $main-color);
    }

    h3 {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
        @include textFormat(1.25rem, 0 0 1.25rem, $main-color);
    }

    p {
        @include textFormat($regular-size-desktop, 0 0 1rem, $main-color);
        width: 700px;
        text-align: justify;
        width: 100%;
        line-height: 1.5rem;

        &:last-child {
            margin: 0;
        }
    }

    img {
        width: 700px;
        border-radius: 1rem;
        margin: 2rem auto;
        object-fit: cover;
    }
}

