@import '../../vendor/variables.scss';
@import '../../vendor/mixins.scss';

.lessonImage {
    width: 700px;
    height: auto;
}


.WSCodeBlock {
    width: calc(700px - 2rem);
    background-color: rgba($gray-color, .5);
    padding: .5rem 1rem;
    border-radius: .5rem;

    position: relative;

    .language {
        position: absolute;
        top: 1rem;
        left: 1rem;
        @include textFormat(14px, 0, rgba($main-color, .5));
    }

    .WSCopyButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: .25rem .5rem;
        background: none;
        cursor: pointer;
        border: 1px solid rgba($main-color, .3);
        border-radius: .25rem;
        transition: .3s;
        color: $main-color;

        &:hover {
            background-color: $main-color;
            color: $white-color;
        }
    }

    .highlighter {
        margin: 1.5rem 0 0;
        width: 100%;
        display: flex;
    }
}

.WSCodeBlockOneBacktick {
    padding: .25rem .5rem;
    width: max-content;

    border-radius: .25rem;
    background-color: rgba($gray-color, 1);
}

.WSHighlight {
    width: max-content;
    border: 1px solid rgba($main-color, .4);
    border-radius: .25rem;
    padding: .25rem .5rem;
    cursor: pointer;
    position: relative;

    .WSText {
        @include textFormat($regular-size-desktop, 0);
    }

    &:hover {
        .WSDescription { 
            display: flex;

            &:hover {
                display: flex;
            }
        }
    }

    .WSDescription {
        display: none;
        position: absolute;
        max-width: 300px;
        width: max-content;
        z-index: 100;
        top: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%);
        @include textFormat($regular-size-desktop, 0);
        color: white;
        border-radius: .5rem;
        padding: .5rem;
        background-color: rgba($main-color, 1);
    }

}