@import '../../vendor/variables.scss';

@import '../../vendor/variables.scss';


.wrapper {
    text-decoration: none;
    width: 100%;
    
    .WSCourseCard {
        width: 100%;
        height: 400px;
        padding: 1rem 0;
        position: relative;
        box-shadow: -2px 4px 6px 2px rgba(4, 30, 66, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 1rem;
        transition: .3s;
        margin: auto;
    }

    .name {
        margin: 0;
        z-index: 5;
        color: $white-color;
        text-align: center;
    }


    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black-color, .1);
        border-radius: 1rem;
        z-index: 3;
    }

    .cardImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 1;
        transition: .3s;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        border-radius: 1rem;
    }

    .cardImageOnHover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        z-index: 2;
        transition: .3s;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .description {
        margin: 0;
        color: white;
        z-index: 5;
        opacity: 0;
    }

    &:hover .cardImage {
        opacity: 0;
    }

    &:hover .cardImageOnHover {
        opacity: 1;
    }

    &:hover .description {
        opacity: 1;
    }

}
