@import '../../vendor/variables.scss';

.WSCloseButton {
    width: 40px;
    height: 40px;
    background: none;
    font-size: 24px;
    border: 0;
    outline: none;
    color: $white-color;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
    &:hover {
        opacity: .75;
    }
}

.WSCloseButtonDark {
    color: $main-color;
}

@media screen and (max-with: 767px) {
    .WSCloseButton {
        width: 30px;
        height: 30px;
        background: none;
        font-size: 20px;
    }
}