.WSCloseButton {
    padding: 1rem;
    width: 40px;
    height: 40px;
    background: none;
    border: 0;
    outline: none;
    transform: rotate(45deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        opacity: .75;
    }
}