@import '../../vendor/variables.scss';
@import '../../vendor/mixins.scss';

.WSParagraph {
    font: {
        size: $regular-size-desktop;
    };
    margin: 0 0 1rem;
    color: $main-color;
    text-decoration: none;
    font-family: 'Inter';
    text-align: justify;
}

.WSArticleParagraph {
    font: {
        size: 1rem;
    };
    margin: 0 0 1rem;
    color: $main-color;
    text-decoration: none;
    font-family: 'Inter';
    text-align: justify;
    line-height: 1.8rem;
    max-width: $max-article-width-desktop;
    text-align: justify;
}

@media screen and (max-width: 767px) {
    .WSParagraph {
        font: {
            size: $regular-size-mobile;
        };
        max-width: $max-article-width-mobile;
    }   

    .WSArticleParagraph {
        font-size: $regular-size-mobile;
        max-width: $max-article-width-mobile;
    }   
}